body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #FF5722;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

main {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}


h2 {
    color: #FF5722;
    font-size: 20px;
    margin-top: 0;
}

p, ul {
    margin: 15px 0;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

strong {
    color: #FF5722;
}


footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #777;
    padding: 10px 0;
}